<div class="text-center text-muted">
    <% if(translate.itemName === 'Ptbr') { %>
    <p>Use on <a href="/en">English</a> version.</p>
    <% } else { %>
    <p>Usar versão em <a href="/">Português</a>.</p>
    <% } %>
    <p><%= translate.developed %><a href="http://wwww.pedrofsn.com.br">pedrofsn</a>.</p>
    <p><%= translate.basedOn %><a
            href="http://scotch.io/tutorials/javascript/creating-a-single-page-termo-app-with-node-and-angular">tutorial</a>.
    </p>
</div>

</div>

</body>

</html>